.buttonlink {
    font-size: 16px;
    font-family: Courier New;
    font-weight: normal;
    text-decoration: inherit;
    -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    border-radius: 12px 12px 12px 12px;
    padding: 3px 9px;
    cursor: pointer;
    color: #FFFFFF;
    display: inline-block;
    background-color: #000000;
}

.buttonlink:hover {
    background-color: #70431B;
}

.buttonlink:active {
    position:relative;
    top: 1px;
}

.smbuttonlink {
    font-size: 16px;
    font-family: Courier New;
    font-weight: normal;
    text-decoration: inherit;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    padding: 1px 4px;
    cursor: pointer;
    color: #CCAA43;
    display: inline-block;
    background-color: #000000;
}

.smbuttonlink:hover {
    background-color: #70431B;
}

.smbuttonlink:active {
    position:relative;
    top: 1px;
}
